body {
  background-color: rgba(245, 245, 220, 0.888);
  min-height: 150vh;
}
.header {
  color: rgb(147, 24, 24);
  margin: 0px;
  text-align: center;
}

.form-container {
  border: solid black 2px;
  margin-top: 0px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 0px;
  height: 130px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  background-color: black;
}

.username-container {
  color: wheat;
  margin: 10px;
  font-size: x-large;
}

.password-container {
  color: wheat;
  margin: 10px;
  font-size: x-large;
}
#button {
  margin: 20px;
}
#user {
  width: 150px;
  margin-left: 10px;
  border: solid rgb(147, 24, 24) 2px;
  border-radius: 5px;
}
#pwd {
  width: 150px;
  margin-left: 12.5px;
  border: solid rgb(147, 24, 24) 2px;
  border-radius: 5px;
}
#submit {
  background: none;
  border: 2px solid rgb(245, 245, 220);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  margin-left: 41px;
  font-size: medium;
  color: rgb(245, 245, 220);
  background-color: rgb(147, 24, 24);
  cursor: pointer;
  transition: 0.1s ease;
}
#submit:hover {
  background-color: rgb(245, 245, 220);
  color: rgb(147, 24, 24);
}
#submit:active {
  transform: scale(0.9);
}

#logo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
#logo img {
  border-radius: 50%;
  height: 100px;
}
p {
  text-align: center;
  font-weight: 600;
  color: rgb(147, 24, 24);
}
